*,
*:before,
*:after {
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif; /*to simulate unavailable font*/
	background-color: #fff;	
}
.parts{
	width: 98%;
	margin: 0 auto;
}
img{
	display: block;	
	width: 100%;
}
a{
	text-decoration: none;
	color: #999;
}
nav ul {
	list-style-type: none;
	text-transform: uppercase;
}
.outer-container{
max-width: 1200px;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 80px;
}
.flex-container {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;	  
	padding: 0;
	margin: 0;
	list-style: none;
}
.flex-item {
	color: #999;
	font-size: .6em;
}	

.nav-bar{
display: inline-flex;
width: 100%;
}
.nav-bar__item a{
list-style: none; 
font-size: .7em;
flex-basis: 200px; 
padding:5px;
align-items: center;
text-transform: uppercase;
}
a:link{
color: var(--gray-dark);
text-decoration: none;	
}
.active a{
color: #f5856f;
}
.logo{
	width: 30%;
	font-size: .1.75rem;
}
/*FOOTER*/ 
.footer-nav-bar{
display: inline-flex;
width: 100%;
}
.footer-nav-bar__item {
list-style: none; 
font-size:1.25em;
padding-right: 5px;
}
#facebook-icon {
color: #0079e1;
}
#twitter-icon{
color: #18a4ef;
}
#instagram-icon{
color: #eb006b;
}

